header{
    padding: 2px 20px;
    display: flex;
    align-items: center;
}


header .nav-links{
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}

header .nav-links a{
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;

}

.logo {
    width: 15%;
}

header .nav-links a:hover{
    color: #39437c;
    font-size: 1.4rem;
    font-weight: bold;
}



