*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: black ;
}

body{
    background-color:#f2f2f2;
    min-width: 100vw;
    max-width: 100vw;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

li,ol{
    text-decoration: none;
}

h2.title{
    color: #35cde7;
}